body {
  font-family:"Courier New", Courier, monospace;font-size: 20px;
background-color: #e0e0d1;
max-width: 1500px;
max-height: 300px;
}


div.Title {
  text-align: center;
margin-top: 120px;
  font-size: 18px;
  float: left;
margin-left: 10px;
}


div.Title h1{
  margin-top: -40px;
  font-size: 35px;
  font-weight: normal;
  margin-left: 40px;
  text-align: center;
}

div.Title h2 {
  float: left;
  margin-top: -130px;
font-size: 40px;
font-weight: normal;
margin-left: 40px;
text-align: center;
}
.active {
    background-color: #336699;
}

img.img {
  opacity: 0.4;
  margin-top: -220px;
  float: right;
  height: 240px;
width: 580px;

}



#navbars {
  margin-top: 110px;
}



.navbar {
    background-color: #333;
    overflow: hidden;
padding-right: 350px;
    width: 1000px;
margin-bottom: -190px;

}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (min-width: 500px) {

}
@media screen and (min-width: 900px)
{}

#Logo {
  text-align: center;
  padding-top: 100px;
  margin-top: 50px;
}

#images {
  margin-left: 723px;
margin-top: 80px;
opacity: 0.7;
padding: 10px;

}

div.sitemap {
  margin-top: 90px;
  float: left;
  font-size: 15px;
  font-weight: bold;
}

div.copyright {
  float:right;
  margin-top: -15px;
  margin-left: 1200px;
  font-size: 15px;
}

#subtitle {
  font-size: 25px;
}

#Paragraph {
  font-size: 17px;
  margin-top: -310px;
  margin-left: 10px;
}

p {
  padding-bottom: 20px;
  margin-top: 40px;
}
